@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileArticleService ArticleService
@model ContosoCrafts.WebSite.Pages.Article.ReadModel

@{
    ViewData["Title"] = "Read Page";
}

<h1>READ</h1>

<div class="content">
    <h5 class="title" id="articleTitle">@Model.Article.Title</h5>
    <img class="card-img" src='@Model.Article.Image' alt='Image for @Model.Article.Title' w-100 h-100>
    <p class="card-text">@Model.Article.Description</p>
</div>

<br />
<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Article.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
    <a asp-page="Delete" asp-route-id="@Model.Article.Id" class="btn btn-danger">Delete</a>
</div>